{% extends "main/main.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="../../static/css/credential_layout.css">
{% endblock %}
{% block content %}
<div class="container outer">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 form-box">
        <form action="https://send.pageclip.co/0xMsXCmNr4Fz58UnApxMjwZJZAAUvfGK" class="pageclip-form form-dsgn-rgst" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class='col-xs-offset-2 col-xs-8 form-header-heavy text-center'>Let's Connect:</div>
            </div>
            <div class='form-group'>
                <input type="text" name="firstname" class="form-control" placeholder="Firstname">
            </div>
            <div class='form-group'>
                <input type="text" name="lastname" class="form-control" placeholder="Lastname">
            </div>
            <div class='form-group'>
                <input type="email" name='email' placeholder="Email" class="form-control">
            </div>
            <div class='form-group'>
                <input type="number" name='number' placeholder="Phone Number" class="form-control">
            </div>
            <div class='form-group'>
                <textarea type="text" rows=5 name='message' placeholder="Message" class="form-control"></textarea>
            </div>
            <div class='form-group'>
                <button class='form-control btn-dsgn pageclip-form__submit' type='submit'>Contact</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}