{% extends "main/main.html" %}
{% block link %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/graphics.css">
{% endblock %}
{% block content %}
<div class="container" id="container-wrapper">
    <div class="row" id="section1">
        <div class="col-xs-offset-1 col-xs-10 sec-1">
            <div id="text">Want to create a memorable brand image with incredible graphics for your audience</div>
        </div>
    </div>
    <div class="row" id="section2">
        <div class="col-xs-offset-1 col-xs-10 col-md-6" id="sec-2-left">
            <p id="sec-2-left-text">
                Most brands face a problem of not catching the attention of their desired audience. With ever-increasing competetions it is becoming really hard to catch attention in this noisy world. Let it be small brands or large brands everyone is pushing content through every medium you can imagine. Yout audience gets bombared withh content every day and get distracted. With social media ads, bill-boards, flyers and so many more.
            </p>
        </div>
        <div class="col-xs-12 col-md-6" id="sec-2-right">
            <img src="../../static/assets/graphicillustration1.png" id="img-responsive">

        </div>
    </div>
    <div class="row" id="section3">
        <div class="col-xs-offset-1 col-xs-10 sec-3">
            <div id="text">So, How can you stand out amongst the thousands of brands pushing out content?</div>
        </div>
    </div>
    <div class="row" id="section4">
        <div class="col-xs-offset-1 col-xs-10 sec-4">
            <p id="sec-4-text">
                With affective graphic design,it will allow you to push through the nose and grab your audience's attention. It will allow you to convey your message through visuals and deliver an experience along with it you will establish a brand identity. 
            </p>
            <p id="sec-4-text">
                Our graphic design services will allow you to make the best first impression on newcome and continue to delight your branch advocates. By creatively using graphic designs, your brand cna stand out.
            </p>
            <p id="sec-4-text">
                How can we helo you?
            </p>
            <p id="sec-4-text">
                To be honest
            </p>
            <p id="sec-4-text">
                Graphics design can make or break your brand unless you are an artist or designer yourself. We don't recommend to do it yourself because it may hurt your bussiness.
            </p>
            <p id="sec-4-text">
                And if you've ever attempted to design graphics and was disgusted by the outcome, you've come to the right place.
            </p>
            <p id="sec-4-text">
                Our agency exists to help you design effective design that will elevate your brand. We have a tema of great graphic designers and will relieve you of the stress of developing graphics for your buisiness. Wheather you need graphic designer for traditional media or digital media, our graphic designers wil be here to help you.   
            </p>
        </div>
    </div>
    <div class="row" id="section5">
        <div class="col-xs-offset-1 col-xs-10 sec-5">
            <div id="text">
                We help companies with all their graphic design needs, including but not limited to:
            </div>
        </div>
    </div>
    <div class="row" id="section6">
        <div class="col-xs-12 sec-6">
            <div class="icon-list">
                <div class="row" id="row-list">
                    <ul class="ul-list" style="list-style: none;">
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdseclogo.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Logos
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdseccup.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Cups and Mugs
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecpowerpoint.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Powerpoint Templates
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" id="row-list">
                    <ul class="ul-list" style="list-style: none;">
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecsignage.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Signage
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecemaildesign.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Email Designs
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecemaildesign.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Letterhead & Envelops
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" id="row-list">
                    <ul class="ul-list" style="list-style: none;">
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecstcker.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Stickers
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecwebcover.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Website Covers
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecbookscovers.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Books & Magazine Design
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" id="row-list">
                    <ul class="ul-list" style="list-style: none;">
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecbrochures.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Brochures
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecbussinescard.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Bussiness Cards
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecapparel.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Apparel(T-shirts, Bags, Hats,etc.)
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" id="row-list">
                    <ul class="ul-list" style="list-style: none;">
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecfoodmenu.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Food Menu
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecpackaging.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                Packaging
                            </div>
                        </li>
                        <li class="col-xs-4 list" id="first-list">
                            <div class="col-xs-3 list-icon" id="icon-left">
                                <img src="../../static/assets/gdsecmore.png" class="icon-responsive">
                            </div>
                            <div class="col-xs-9 list-item" id="text-right">
                                More
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="section7">
        <div class="col-xs-offset-1 col-xs-10 sec-7">
            <div id="text">How it works?</div>
        </div>
    </div>
    <div class="row" id="section8">
        <div class="col-xs-offset-1 col-xs-9 sec-8">
            <div class="col-xs-6 sec-8-left">
                <div class="row" id="step">
                    <span class="text">Step 1</span>
                    <span class="step-text">Tell Us More About Your Project</span>
                </div>
                <div class="row" id="step">
                    <span class="text">Step 2</span>
                    <span class="step-text">We Start Working On Initial Drafts</span>
                </div>
                <div class="row" id="step">
                    <span class="text">Step 3</span>
                    <span class="step-text">Make Edits If You Need To</span>
                </div>
                <div class="row" id="step">
                    <span class="text">Step 4</span>
                    <span class="step-text">Receive Graphics That You Love</span>
                </div>
            </div>
            <div class="col-xs-6 sec-8-right">
                <img src="../../static/assets/graphicillustration2.png" id="img-responsive">
            </div>
        </div>
    </div>
    <div class="row" id="section9">
        <div class="col-xs-offset-1 col-xs-10 sec-9">
            <div id="text">Here are some designs:</div>
        </div>
    </div>
    <div class="row" id="section10">
        <div class="col-xs-12 sec-10">
            <div class="col-xs-6 sec-10-left">
                <dic class="col-xs-offset-1 col-xs-10 sec-10-left-text">
                    Brochures
                </dic>
                <div class="col-xs-12 sec-10-left-slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="../../static/assets/la.jpg" alt="Los Angeles" height=100px>
                          </div>
                      
                          <div class="item">
                            <img src="../../static/assets/chicago.jpg" alt="Chicago" height=100px>
                          </div>
                      
                          <div class="item">
                            <img src="../../static/assets/ny.jpg" alt="New York" height=100px>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 sec-10-right">
                <dic class="col-xs-offset-1 col-xs-10 sec-10-right-text">
                    Logos
                </dic>
                <div class="col-xs-12 sec-10-right-slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="../../static/assets/la.jpg" alt="Los Angeles" height=100px>
                          </div>
                      
                          <div class="item">
                            <img src="../../static/assets/chicago.jpg" alt="Chicago" height=100px>
                          </div>
                      
                          <div class="item">
                            <img src="../../static/assets/ny.jpg" alt="New York" height=100px>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="section11">
        <div class="col-xs-12 sec-11">
            <div class="col-xs-offset-1 col-xs-10 sec-11-text">
                Website Covers
            </div>
            <div class="col-xs-offset-1 col-xs-10 sec-11-slider">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="../../static/assets/la.jpg" alt="Los Angeles" height=100px>
                      </div>
                  
                      <div class="item">
                        <img src="../../static/assets/chicago.jpg" alt="Chicago" height=100px>
                      </div>
                  
                      <div class="item">
                        <img src="../../static/assets/ny.jpg" alt="New York" height=100px>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="section12">
        <div class="col-xs-12 sec-12">
            <div class="col-xs-offset-1 col-xs-10 sec-12-text">
                Banners
            </div>
            <div class="col-xs-offset-1 col-xs-10 sec-12-slider">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="../../static/assets/la.jpg" alt="Los Angeles" height=100px>
                      </div>
                  
                      <div class="item">
                        <img src="../../static/assets/chicago.jpg" alt="Chicago" height=100px>
                      </div>
                  
                      <div class="item">
                        <img src="../../static/assets/ny.jpg" alt="New York" height=100px>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="section13">
        <div class="col-xs-12 sec-13">
            <div class="col-xs-offset-1 col-xs-10 sec-13-text">
                Illustration
            </div>
            <div class="col-xs-offset-1 col-xs-10 sec-13-slider">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="../../static/assets/la.jpg" alt="Los Angeles" height=100px>
                      </div>
                  
                      <div class="item">
                        <img src="../../static/assets/chicago.jpg" alt="Chicago" height=100px>
                      </div>
                  
                      <div class="item">
                        <img src="../../static/assets/ny.jpg" alt="New York" height=100px>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}