{% extends "main/main.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="../../static/css/index.css">
<script src="../../static/js/animation.js" defer></script>
{% endblock %}
{% block overlay %}
<!--HEADER AND WHY CHOOSE US-->
<section style="width: 100%;">
    <section id="content-wrapper">
        <!--BACKGROUND ILLUSTRATION ONE-->
        <div class="overlay1"></div>
{% endblock %}
{% block content %}
<!--HERO BANNER TEXT-->
<div class="row hero-text-wrapper">
    <div class="container hero-text-container">
        <span id="hero-text">Grow your online business faster!</span>
    </div>
    <div class="container hero-text-2-container">
        <span id="hero-text-2">Claim your free 30-minute strategy session</span>
    </div>
</div>
<!--END HERO BANNER TEXT-->

<!--SERVICE CARDS FOR PC VIEW-->
<div class="row card-wrapper" id="service-cards-lg">
    <div class="container card-container">
        <div class="col-xs-2 card-content" id="card1">
            <div class="col-xs-12 row-wrapper-header">
                <span id="card-icon"><i class="fas fa-dollar-sign fa-2x icon-1" id="card-header-icon"></i></span>
            </div>
            <div class="col-xs-12">
                <span id="card-text">
                    SOCIAL MEDIA MARKETING
                </span>
            </div>
            <div class="col-xs-12 i1" id="row-wrapper-footer">
                <span id="right-arrow"><i class="fas fa-angle-right fa-2x"></i></span>
            </div>
        </div>
        <div class="col-xs-2 card-content" id="card2">
            <div class="col-xs-12 row-wrapper-header">
                <span id="card-icon"><i class="fas fa-code fa-2x icon-2" id="card-header-icon"></i></span>
            </div>
            <div class="col-xs-12">
                <span id="card-text">
                    WEB DESIGN & DEVELOPMENT
                </span>
            </div>
            <div class="col-xs-12 i2" id="row-wrapper-footer">
                <span id="right-arrow"><i class="fas fa-angle-right fa-2x"></i></span>
            </div>
        </div>
        <div class="col-xs-2 card-content" id="card3">
            <div class="col-xs-12 row-wrapper-header">
                <span id="card-icon"><i class="fas fa-pen-nib fa-2x icon-3" id="card-header-icon"></i></span>
            </div>
            <div class="col-xs-12">
                <span id="card-text">
                    GRAPHICS DESIGN
                </span>
            </div>
            <div class="col-xs-12 i3" id="row-wrapper-footer">
                <span id="right-arrow"><i class="fas fa-angle-right fa-2x"></i></span>
            </div>
        </div>
        <div class="col-xs-2 card-content" id="card4">
            <div class="col-xs-12 row-wrapper-header">
                <span id="card-icon"><i class="fas fa-chess-knight fa-2x icon-4" id="card-header-icon"></i></span>
            </div>
            <div class="col-xs-12">
                <span id="card-text">
                    STRATEGY
                </span>
            </div>
            <div class="col-xs-12 i4" id="row-wrapper-footer">
                <span id="right-arrow"><i class="fas fa-angle-right fa-2x"></i></span>
            </div>
        </div>
    </div>
</div>
<!--SERVICE CARDS FOR PC VIEW END-->

<!--SERVICE TABS MOBILE-->
<div class="row card-wrapper-xs" id="service-cards-xs">
    <div class="col-xs-6 col-sm-4 service-tab-grid">
        <div class="col-xs-12 service-card-content-xs" id="tab1">
            <div class="service-symbol">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="service-tab-content">
                Social Media Marketing
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 service-tab-grid">
        <div class="col-xs-12 service-card-content-xs" id="tab2">
            <div class="service-symbol">
                <i class="fas fa-code" id="code-sym2"></i>
            </div>
            <div class="service-tab-content">
                Web Design & Development
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 service-tab-grid">
        <div class="col-xs-12 service-card-content-xs" id="tab3">
            <div class="service-symbol">
                <i class="fas fa-pen-nib" id="code-sym3"></i>
            </div>
            <div class="service-tab-content">
                Graphic Design
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 service-tab-grid">
        <div class="col-xs-12 service-card-content-xs" id="tab4">
            <div class="service-symbol">
                <i class="fas fa-chess-knight" id="code-sym4"></i>
            </div>
            <div class="service-tab-content">
                Strategy
            </div>
        </div>
    </div>
</div>
<div class="row" id="register-section">
    <div class="col-xs-12 register-section-content">
        <div class="col-xs-12" id="register-section-text">
            <span id="lets-talk">Looking to maximise your online growth?</span>
        </div>
        <div class="col-xs-12 register-btn-wrapper">
            <button class="btn register-btn">Let's Talk</button>
        </div>
    </div>
</div>
<!--END SERVICE TAB MOBILE-->
</section>
<!--HEADER AND WHY CHOOSE US-->


<!--CONTENT SECTION -->
<section id="business-section">

<!--UNMATCHED SERVICES AND UNMATCHED EXCELLENCE-->
<section id='crow1'>
    <div class="row business-sec1-wrapper">
        <div class="col-xs-12 col-md-6 text-area">
            <div class="row crow1-heading" id="heading">
                <div class="col-xs-12 col-md-5" id="bs1a">
                    <div id="text-sec1">
                        <div class="ser">A DATA DRIVEN</div>
                        <div class="exe">DIGITAL MARKETING AGENCY</div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7" id="bs1b">
                    <div id="text-sec2">We are a team of digital strategists and we have curated successful internet marketing campaigns for small size businesses as well as, large size companies. We are a team of the best designers, marketers, and web developers. Providing a state of art web-design, e-commerce, social media, and internet marketing services. We are a data-driven company, we believe in delivering results for our clients, from driving traffic, converting visitors, collecting leads, and measuring effectiveness to ultimately deliver real results for our clients. </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="bs1c">
                    <div id="text-sec3">
                        Aryan Dutta Media is a full-service internet marketing company offering innovative web marketing solutions for any company, be it a global or a small scale one, anywhere across the globe.
                    </div>
                </div>
            </div>
            <div class="row" id="ntb-r-btn">
                <div class="container" style="width:80%;margin:auto;">
                    <div class="col-xs-6" id="ntb-text">
                        <span>Looking to maximise your online growth?</span>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn">Let's Talk</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="bs1-illustration">
            <div class="container" style="width:90%;margin:auto;padding-top:60px;">
                <img src="../static/assets/ig 1.png" class="img-responsive" id="serv-img">
            </div>
        </div>
    </div>
</section>
<!--UNMATCHED SERVICES AND UNMATCHED EXCELLENCE END-->


<!--SOCIAL MEDIA MARKETING-->
<section id='crow2'>
    <div class="row">
        <div class="col-xs-12 col-md-6 first-half">
            <div class="row">
                <span class="col-xs-12 col-md-8 heading" id="scl-mkt1">SOCIAL MEDIA MARKETING</span>
            </div>
            <div class="row">
                <div class="s-text col-xs-12 col-md-10" id="scl-mkt2">Our social media marketing services help you generate immediate results on social media. We connect your products or services to thousands of people who may be interested in them. Our social media marketing services will allow you  leverage on the most cost-effective and targeted form of advertising available today.</div>
            </div>
            <div class="row button-section2">
                <div class="container">
                    <a href="/socialmedia" target="_self">
                        <button class="btn know-more" id="scl-mkt3">Know More <span class="glyphicon glyphicon-chevron-down" style="color: rgb(185, 185, 185);padding:2px;position: relative;top:4px;"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="illustration-2">
            <div class="container">
                <div class="col-xs-12 illustration-align">
                    <img src="../static/assets/social med.png" class='img-responsive' id="social-marketing1">
                </div>
            </div>
        </div>
        <!--Mobile Illustration-->
        <div class="col-xs-12 col-md-6" id="illustration-2-m">
            <div class="container">
                <div class="col-xs-12 illustration-align">
                    <img src="../static/assets/social med m.png" class='img-responsive' id="social-marketing1">
                </div>
            </div>
        </div>
        <!--Mobile Illustration Ends-->
</section>
<!--SOCIAL MEDIA MARKETING END-->


<!--BUSINESS CARDS-->
<section id="crow3">
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body" >
                        <div class="card-title text-center">
                            <span>STRATEGY</span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div class="card-text" id="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis debitis doloremque.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <span>CONTENTS</span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div class="card-text" id="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis debitis doloremque.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <span>PLATFORM</span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div class="card-text" id="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis debitis doloremque.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BUSINESS CARDS End-->


<!--Web development and design-->
<section id="crow4">
    <div class="row">
        <div class="col-xs-12 col-md-6 first-half">
            <div class="row">
                <span class="col-xs-12 col-md-8 heading" id="web-dev1">WEB DEVELOPMENT & DESIGN</span>
            </div>
            <div class="row">
                <div class="s-text col-xs-12 col-md-10" id="web-dev2">Looking for a fast-loading, beautifully designed website that converts visitors into buyers well then we have got your back.With our UX first approach our team of  website designers, internet marketers and web developers will put together a website which will generate leads in autopilot. Want us to build one for you ?</div>
            </div>
            <div class="row button-section2">
                <div class="container">
                    <a href="/wd" target="_self">
                        <button class="btn know-more" id="web-dev3">Know More <span class="glyphicon glyphicon-chevron-right" style="color: rgb(107, 107, 107);padding:2px;position: relative;top:2px;"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="illustration-3">
            <div class="container">
                <div class="col-xs-12 illustration-align">
                    <img src="../static/assets/webdev.png" class='img-responsive' id="social-marketing">
                </div>
            </div>
        </div>
        <!--Mobile Illustration-->
        <div class="col-xs-12 col-md-6" id="illustration-3-m">
            <div class="container">
                <div class="col-xs-12 illustration-align">
                    <img src="../static/assets/web dev m.png" class='img-responsive' id="social-marketing">
                </div>
            </div>
        </div>
        <!--Mobile Illustration Ends-->
    </div>
</section>
<!--Web development and design end-->

<!--Graphic Design-->
<section class="row" style="width:100%;min-height:10vh;background-color: white;"></section>
<section id="crow5" style="background-color: #1c2d2ce6;padding-bottom: 0;">
    <div class="row">
        <div class="col-xs-12 col-md-6 first-half">
            <div class="row">
                <span class="col-xs-12 col-md-8 heading" id="gr-ds1">GRAPHIC DESIGN</span>
            </div>
            <div class="row">
                <div class="s-text col-xs-12 col-md-10" id="gr-ds2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates debitis sapiente eum iste recusandae est voluptatum suscipit. Unde eos deleniti fuga voluptatum quod perferendis odio, hic atque magnam provident aliquid?</div>
            </div>
            <div class="row button-section2">
                <div class="container">
                    <a href="/graphics" target="_blank">
                        <button class="btn know-more" id="gr-ds3">Know More <span class="glyphicon glyphicon-chevron-right" style="color: rgb(107, 107, 107);padding:2px;position: relative;top:2px;"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="illustration-4">
            <div class="container">
                <div class="col-xs-12 illustration-align">
                    <img src="../static/assets/grapic d.png" class='img-responsive' id="social-marketing">
                </div>
            </div>
        </div>
        <!--Mobile Illustration-->
        <div class="col-xs-12 col-md-6" id="illustration-4-m">
            <div class="container">
                <div class="col-xs-12 illustration-align">
                    <img src="../static/assets/grapic m.png" class='img-responsive' id="social-marketing">
                </div>
            </div>
        </div>
        <!--Mobile Illustration Ends-->
    </div>
</section>
<!--Graphic Design Ends-->


<!--WHY CHOOSE US-->
<section id='crow6'>
    <div class="row text-center">
        <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight:600;">Why Choose Us?</h1>
    </div>
    <div class="row">
        <div class="container text-cont">
            <div class="timeline-text col-xs-3" id="a1">Indepth Knowledge</div>
            <div class="timeline-text col-xs-4 text-center" id="a2">Competive Pricing</div>
            <div class="timeline-text col-xs-3 text-right" id="a3">Money Back Guarantee</div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="timeline-dot a1" type="button" id="a111">
                <div class="timeline-dot2" id="a11"></div>
            </div>
            <span id="hr"><hr></span>
            <div class="timeline-dot a2" type="button" id="a222">
                <div class="timeline-dot2" id="a12"></div>
            </div>
            <span id="hr"><hr></span>
            <div class="timeline-dot a3" type="button" id="a222">
                <div class="timeline-dot2" id="a13"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container" style="width:90%;">
            <div class="col-xs-12 text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur qui numquam exercitationem, expedita sapiente voluptate at ratione distinctio sequi provident iusto quidem porro consectetur officiis. Quod dolor mollitia officia nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet laborum, sit asperiores sint voluptates officiis perspiciatis autem id praesentium nostrum quam iste blanditiis maxime voluptatum dolor dignissimos necessitatibus ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa et consequatur voluptatibus corporis explicabo repudiandae expedita similique ullam nostrum officiis vitae, porro provident exercitationem sit quod sapiente, unde dolor incidunt?
            </div>
        </div>
    </div>
</section>
<!--WHY CHOOSE US ENDS-->


<!--MOBILE DESIGN CAROUSEL SLIDER-->
<section id="crow6-mobile">
    <div class="row text-center">
        <h3 id="crow6-mobile-heading">Why Choose Us?</h1>
    </div>
    <div class="carousel slide" data-ride="carousel" id="whyChooseUs">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-xs-12 col-sm-6 items d-block w-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                Competitive Pricing
                            </div>
                            <div class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat veniam a, asperiores veritatis at provident officia in aliquam esse consequatur recusandae dolorum iure quo autem porro atque maxime fugiat. Ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos, laudantium provident molestias consequatur commodi obcaecati unde dolores, odit maxime assumenda sunt animi quaerat quae, quod illum rem accusamus aspernatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-xs-12 col-sm-6 items d-block w-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                Indepth Knowledge
                            </div>
                            <div class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat veniam a, asperiores veritatis at provident officia in aliquam esse consequatur recusandae dolorum iure quo autem porro atque maxime fugiat. Ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos, laudantium provident molestias consequatur commodi obcaecati unde dolores, odit maxime assumenda sunt animi quaerat quae, quod illum rem accusamus aspernatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-xs-12 col-sm-6 items d-block w-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                Money Back Guarantee
                            </div>
                            <div class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat veniam a, asperiores veritatis at provident officia in aliquam esse consequatur recusandae dolorum iure quo autem porro atque maxime fugiat. Ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos, laudantium provident molestias consequatur commodi obcaecati unde dolores, odit maxime assumenda sunt animi quaerat quae, quod illum rem accusamus aspernatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="indicators">
            <ol class="carousel-indicators">
                <li data-target="#whyChooseUs" data-slide-to="0" class="active"></li>
                <li data-target="#whyChooseUs" data-slide-to="1"></li>
                <li data-target="#whyChooseUs" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>
<!--END MOBILE DESIGN CAROUSEL SLIDER-->
{% endblock %}
</body>
</html>
