<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=120">
    <meta http-equiv="pragma" content="max-age=120">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Aryan Dutta Media | Team</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <!--TAILWIND CSS-->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--JS-->
    <!--<script src="../../static/js/teamNavbar.js"></script>-->
    <!--FONT AWESOME-->
    <link rel="stylesheet" type="text/css" href="../../static/css/all.min.css">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" type="text/css" href="../../static/css/team.css">
</head>
<body>
    <!--Slider Code-->
    <section class="slider-main" style="width: 100%;">
        <!--"Opac-slider" transparent section overlapped over "slider-main" section-->
        <section id="Opac-slider" style="width: 100%; opacity: 0.5; height:100vh; position: absolute; background-color: #000;"></section>
        <!--"slider-head" secion overlapped over the "Opac-slider" transparent section-->
        <section id="slider-head" style="width: 65%; position: absolute;">
            <section id= "slider">
                <section id="slider-content">
                    <div class="slider-header">
                        <img src="../static/assets/compress/arlogo-min.png" style="width:150px;height:30px;"><a href="#" class="arrow"><span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div>
                    <hr color="white" width="100%">
                    <section id="contents" style="list-style: none;">
                        <li class="items">
                            <a href="/" class="item">
                                <h4 class="subnav-link">HOME</h4>
                                <span class="subnav-nav-link">Main Page</span>
                            </a>
                        </li>
                        <li class="items">
                            <a href="/contact" class="item">
                                <h4 class="subnav-link">CONTACT US</h4>
                                <span class="subnav-nav-link">Get In Touch</span>
                            </a>
                        </li>
                        <li class="items">
                            <a href="#" class="item">
                                <h4 class="subnav-link">WE OFFER</h4>
                                <span class="subnav-nav-link">Our Services</span>
                            </a>
                        </li>
                        <li class="items">
                            <a href="/team" class="item">
                                <h4 class="subnav-link">TEAM</h4>
                                <span class="subnav-nav-link">Get In Touch</span>
                            </a>
                        </li>
                    </section>
                    <h1><hr color="white" width="100%" ></h1>
                </section>
            </section>
        </section>
    </section>
    <!--Slider Code End-->

    <!--NAVIGATION BAR AND HAMBURGER MENU FOR PC VIEW-->
    <div class="row">
        <div class="container-fluid">
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="container navcont">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand"><img src="../static/assets/compress/logolatest-min.png" class="img-responsive" style="width:250px;height:40px;"></a>                  
                        <a href="/" class="navbar-brand-mobile"><img src="../static/assets/compress/arlogo-min.png" class="img-responsive" style="width:240px;height:35px;"></a>                   
                        <button class="hamburger">
                            <div class="ham"></div>
                            <div class="ham"></div>
                            <div class="ham"></div>
                        </button>
                    </div>
                    <div class="flexbox">
                        <ul class="sub-nav">
                            <li class="items">
                                <a href="/" class="item">
                                    <h4 class="subnav-link">HOME</h4>
                                    <span class="subnav-nav-link">Main Page</span>
                                </a>
                            </li>
                            <li class="items">
                                <a href="/contact" class="item">
                                    <h4 class="subnav-link">CONTACT US</h4>
                                    <span class="subnav-nav-link">Get In Touch</span>
                                </a>
                            </li>
                            <li class="items">
                                <a href="#" class="item">
                                    <h4 class="subnav-link">WE OFFER</h4>
                                    <span class="subnav-nav-link">Our Services</span>
                                </a>
                            </li>
                            <li class="items">
                                <a href="/team" class="item">
                                    <h4 class="subnav-link">TEAM</h4>
                                    <span class="subnav-nav-link">Get In Touch</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION BAR AND NAV BAR FOR PC VIEW END-->
    <!--CONTENT SECTION-->
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-3xl font-medium title-font mb-4 headline">
                    MEET OUR TEAM
                </h1>
                <div class="headline-underline"></div>
            </div>
            <div class="flex flex-wrap -m-4 cards-wrapper text-center">
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10">
                        <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/ar-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Founder</h3>
                            <p class="mb-4 text-2xl member-name">Aryan Dutta</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="https://www.facebook.com/aryanduttaceo" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="https://www.linkedin.com/in/aryan-dutta-07/" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>                                       
                                        <li class="card-footer-item"><a href="https://www.instagram.com/iamaryandutta/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10">
                        <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/nd-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Graphic Designer</h3>
                            <p class="mb-4 text-2xl member-name">Nirupam Dey</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>                                        
                                        <li class="card-footer-item"><a href="https://www.instagram.com/nirupam_n7/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10">
                        <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/rd-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Web Developer</h3>
                            <p class="mb-4 text-2xl member-name">Rittik Dasgupta</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="https://www.facebook.com/hritick.dasgupta/" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="https://www.linkedin.com/in/rittik-dasgupta-a6820117a/" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>                                       
                                        <li class="card-footer-item"><a href="https://www.instagram.com/hritickdasgupta/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10 ">
                        <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/sgu-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Web Developer</h3>
                            <p class="mb-4 text-2xl member-name">Sourav Gupta</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="https://www.facebook.com/sourav.gupta.127" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="https://www.linkedin.com/in/sourav-g-090462134/" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>                                        
                                        <li class="card-footer-item"><a href="https://www.instagram.com/sourav__404/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10">
                        <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/hi-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Security Lead</h3>
                            <p class="mb-4 text-2xl member-name">Hasnaf Asif Islam</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="https://www.facebook.com/hasnaf.asif.7" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="https://www.linkedin.com/in/hasnaf-asif-islam-b64bb1190/" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>                                       
                                        <li class="card-footer-item"><a href="https://www.instagram.com/hasnaf_asif_islam/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>                              
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10">
                        <img alt="team" class="flex-shrink-0 rounded-sm w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/sg-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Business Strategist</h3>
                            <p class="mb-4 text-2xl member-name">Soumyabrata Ghosh</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="https://www.facebook.com/soumyabrata.ghosh.773" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>                                       
                                        <li class="card-footer-item"><a href="https://www.instagram.com/ghoshsoumyabrata12/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>                                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 cards-content">
                    <div class="h-full flex flex-col items-center text-center cards col-xs-10">
                        <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4 team-member" src="../../static/assets/compress/sd-min.png">
                        <div class="w-full card-subsection">
                            <h3 class="mt-3 mb-3 member-role">Business Strategist</h3>
                            <p class="mb-4 text-2xl member-name">Shibajyoti Das</p>
                            <div class="col-xs-12 card-footer">
                                <div class="col-xs-10 card-footer-content-wrapper">
                                    <ul class="col-xs-12 card-footer-content-inner">
                                        <li class="card-footer-item"><a href="https://www.facebook.com/manuelshiba.diaz" class="card-footer-link" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="card-footer-item"><a href="https://www.linkedin.com/in/shibajyoti-das-43227b198/" class="card-footer-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="card-footer-item"><a href="https://www.instagram.com/shibajyoti_das/" class="card-footer-link" target="_blank"><i class="fab fa-instagram"></i></a></li>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        //MOBILE VIEW NAV SLIDE IN
        const ham=document.querySelector('.hamburger');
        console.log(ham);
        const navSlide=document.querySelector('.slider-main');
        const Opac=document.querySelector('#Opac-slider');
        const arr=document.querySelector('.arrow');
        ham.addEventListener('touchend',() => {slider()});
        Opac.addEventListener('touchend',() => {sliderOutOnBodyTouch()});
        arr.addEventListener('touchend',() => {sliderOut()});
        function slider(){
            navSlide.classList.toggle('active');
            console.log('engaged');
            scrollDisable();
        }
        function sliderOut(){
            let navSlide=document.querySelector('.slider-main');
            navSlide.classList.toggle('active');
            scrollActive();
        }
        function scrollDisable(){
            document.querySelector('html').style.position='fixed';
        }
        function scrollActive(){
            document.querySelector('html').style.position='static';
        }
        function sliderOutOnBodyTouch(){
            let navSlide=document.querySelector('.slider-main');
            if(navSlide.classList.contains('active')){
                navSlide.classList.remove('active');
                scrollActive();
            }
        }
        //END MOBILE VIEW NAV SLIDE IN
    </script>
</body>
</html>
