@font-face {
    font-family: bahnschrift;
    src: url(../webfonts/BAHNSCHRIFT.woff);
}

//COLORS
$secondaryColor:rgb(75, 75, 75);
$ternaryColor:rgb(100, 100, 100);
$uniqueTextColor: rgb(0, 128, 128)180, 100%, 25%;

//Main CSS

*{
    font-family: bahnschrift;
}
body{
    width:100%;
    margin:0;
}
.navbar .navcont .flexbox .sub-nav .items{
    padding:10px 25px;
}
#container-wrapper{
    width: 85%;
    margin: auto;
    #section1{
        padding-top: 20px;
        .sec-1{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section2{
        display: flex;
        align-items: center;
        #sec-2-right{
            padding-top: 50px;
            padding-left: 50px;
            img{
                height: 350px;
                width: 600px;
            }
        }
        #sec-2-left{
            #sec-2-left-text{
                font-size: 20px;
                font-weight: 100;
            }
        }
    }
    #section3{
        .sec-3{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section4{
        padding-top: 50px;
        .sec-4{
            #sec-4-text{
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
    #section5{
        width:85%;
        margin:auto;
        padding:20px 0px;
        .sec-5{
            #text{
                font-size:36px;
                font-weight: normal;
                text-align: center;
            }
        }
    }
    #section6{
        padding-top: 20px;
        .sec-6{
            .icon-list{
                width:80%;
                margin: auto;
                #row-list{
                    padding:20px 0px;
                    .ul-list{
                        list-style-type: none;
                        padding-left:0; 
                        margin:auto;    
                        display: flex;
                        justify-content: space-between;
                        .list{           
                            .list-icon{
                                margin:auto;
                                img{
                                    height: 60px;
                                    width: 60px;
                                    margin:auto;
                                }
                            }
                            #text-right{
                                padding-top: 10px;
                                font-size: 17px;
                            } 
                        }                           
                    }
                }
            }
        }
    }
    #section7{
        .sec-7{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section8{
        padding-top: 30px;
        .sec-8{
            .sec-8-left{
                padding-left: 50px;
                #step{
                    padding-top: 30px;
                    .text{
                        background: rgb(128, 128, 128);
                        color:rgb(4, 214, 214);
                        font-weight: 700;
                        border-radius: 50rem;
                        padding:5px 10px;
                        margin:10px;
                        font-size: 25px;
                    }
                    .step-text{
                        font-size: 20px;
                    }
                }
            }
            .sec-8-right{
                padding-left: 150px;
                img{
                    height: 280px;
                    width: 440px;
                }
            }
        }
    }
    #section3, #section5, #section7,#section9, #section10{
        padding-top: 80px;
    }
    #section9{
        .sec-9{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section10{
        .sec-wrapper{
            margin-bottom:50px;
            .sec-inner{
                padding-bottom: 40px;
                .sec-text{
                    font-size: 35px;
                    padding:20px;
                }
                .sec-slider{
                    #myCarousel{
                        .carousel-inner{
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}
#section4-mobile{
    display: none;
}
@media all and (max-width:768px){
    .slider-header{
        padding-bottom: 20px;
    }
    #contents{
        padding:20px 0px;
    }
    #container-wrapper{
        #section1{
            padding-right: 0px;
            padding-left: 0px;
            .sec-1{
                #text{
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section2{
            flex-wrap: wrap;
            #sec-2-right{
                padding:0;
                img{
                    width:350px;
                    height:250px;
                }
            }
            #sec-2-left{
                #sec-2-left-text{
                    font-size: 15px;
                    text-align: center;
                    padding:20px;
                }
            }
        }
        #section3{
            padding-top:20px;
            .sec-3{
                #text{
                    font-size:20px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section4{
            display: none;
        }
        #section4-mobile{
            display: block;
            .carousel{
                padding-top:20px;
                .indicators{
                    .carousel-indicators{
                        li{
                            background-color: #f2f9f9;
                            border:1px solid transparent;
                        }
                    }
                }
                .carousel-inner{
                    .item{
                        padding:0px;
                        .card{
                            padding:20px 0px;
                            min-height: 320px;
                            .card-body{
                                .card-title{
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                                .card-text{
                                    font-size: 15px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        #section5{
            padding-top: 0;
            width:100%;
            margin: auto;
            .sec-5{
                #text{
                    font-size:20px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section6{
            padding-top: 20px;
            .sec-6{
                .icon-list{
                    width:100%;
                    margin:auto;
                    #row-list{
                        padding:20px 0px;
                        .ul-list{
                            .list{
                                .list-icon{
                                    text-align: center;
                                    img{
                                        height: 40px;
                                        width: 40px;
                                    }
                                }
                                #text-right{
                                    padding:10px 0px;
                                    font-size: 12px;
                                    text-align: center;
                                }                                
                            }
                        }
                    }
                }
            }
        }
        #section7{
            padding-top: 20px;
            .sec-7{
                #text{
                    font-size:25px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section8{
            padding-top: 20px;
            .sec-8{
                .sec-8-left{
                    padding-left:0;
                    #step{
                        padding-top: 30px;
                        display: flex;
                        flex-direction: row;
                        .text{
                            font-size: 18px;
                        }
                        .step-text{
                            font-size: 18px;
                        }
                    }
                }
                .sec-8-right{
                    padding-left: 150px;
                    img{
                        display: none;
                    }
                }
            }
        }
        #section9{
            padding-top: 0;
            width:100%;
            margin: auto;
            .sec-9{
                #text{
                    font-size:22px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section10{
            padding:10px 0px;
            .sec-wrapper{
                padding:0px;
                .sec-inner{
                    padding:20px 0px;
                    margin:40px auto;
                    .sec-text{
                        font-size: 18px;
                        padding:10px 0px;
                    }
                    .sec-slider{
                        padding:0px;
                        #myCarousel{
                            .carousel-inner{
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}