$navbarColor:#3b474f;
$registerBtnColor:#8ef4e0;
$smmBgColor:#cef4f4;
$knowMoreBtn1:#3b474f;
$wddBgColor:#597e89;
$knowMoreBtn2:#bef2e5;
$gdBgColor:#2b3c3f;
$KnowMoreBtn3:#bef2e5;
$wcuTitleColor:#276a6d;
$carouselIndicatorColor:#b5b5b5;
$footerBgColor:#0b2d35;

//FONT
@font-face {
    font-family: bahnschrift;
    src: url(../webfonts/BAHNSCHRIFT.woff);
}
*{
    font-family: bahnschrift;
}
// FIRST BACKGROUND IMAGE
.overlay1{
    width:100%;
    height:80vh;
    margin:0;
    position: absolute;
    top:10vh;
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index:-1;
}
//HERO TEXT WRAPPER
.hero-text-wrapper{
    padding-top:14vh;
    width:100%;
    z-index: 4;
    .hero-text-container{
        width:80%;
        margin:auto;
        text-align: center;
        #hero-text{
            font-family:bahnschrift;
            font-weight: 800;
            font-size: 4vw;
            color:$knowMoreBtn1;
        }
    }
    .hero-text-2-container{
        width:80%;
        margin:4vh auto;
        text-align: center;
        padding:0px;
        #hero-text-2{
            font-family: bahnschrift;
            font-weight: normal;
            font-size: 2vw;
            color:white;
            background-color: $knowMoreBtn1;
            border-radius: 50rem;
            padding:10px 20px;
        }
    }
}

//SERVICE CARDS
.card-wrapper{
    width:100%;
    height: 50%;
    position: absolute;
    top:60vh;
    .card-container{
        width:80%;
        margin:auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card-content{
            background-color: white;
            padding:20px 0px 20px 0px;
            height:25%;
            border: 1px solid white;
            border-radius: 20px;
            box-shadow: -6px 7px 16px 4px rgba(82,82,82,1);
            text-align: center;
            #card-text{
                color:black;
                font-family: bahnschrift;
                font-weight: 600;
                font-size: 14px;
            }
            .row-wrapper-header{
                margin:0px 0px 20px;
            }
            #card-header-icon{
                background-color: $knowMoreBtn1;
                color:white;
                border-radius:50rem;
            }
            .icon-1{
                padding:20px 27.5px;
            }
            .icon-2{
                padding:20px 18px;
            }
            .icon-3{
                padding:20px;
            }
            .icon-4{
                padding:20px 24.5px;
            }
            #row-wrapper-footer{
                display: none;
                #right-arrow{
                    i{
                        color:white;
                        background-color: $registerBtnColor;
                        padding:5px 12px;
                        border-radius: 50rem;
                    }
                }
            }
        }
        #card3,#card4{
            padding:30px 0px;
        }
        #card1:hover{
            padding-top:20px;
            transform:translateY(-10%);
            width:20%;
            transition: 0.4s ;
            .i1{
                display: block;
            }
        }
        #card2:hover{
            padding-top:20px;
            transform:translateY(-10%);
            width:20%;
            transition: 0.4s ;
            .i2{
                display: block;
            }
        }
        #card3:hover{
            padding-top:20px;
            transform:translateY(-8%);
            width:20%;
            transition: 0.4s ;
            .i3{
                display: block;
            }
        }
        #card4:hover{
            padding-top:20px;
            transform:translateY(-8%);
            width:20%;
            transition: 0.4s ;
            .i4{
                display: block;
            }
        }
    }
}
.active{
    display: block;
}
 //BUSINESS SECTION 1
 #business-section{
     position:absolute;
     top:90vh;
     width:100%;
     margin:auto;
     #crow1{
        padding-bottom:50px;
        .crow1-heading{
            padding: 50px 5px 10px 10px;
        }
     }
     .text-area{
         padding-top: 50px;
         #bs1a{
             font-family:bahnschrift;
             font-weight: 900;
             font-size: 35px;
         }
         #text-sec1,#text-sec2,#text-sec3{
             padding-right: 20px;
             padding-left: 40px;
         }
     }
    #ntb-r-btn{
        padding-top: 50px;
        #ntb-text{
            padding:5px 2px;
            font-family: bahnschrift;
            font-size: 15px;
            font-weight: 500;
        }
        .btn{
            color: white;
            font-family:bahnschrift;
            background-color: #008080ba;
            border:1px solid #008080ba;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
        }
    }
}

 //BUSINESS SECTION 2
 #crow2{
     background-color: $smmBgColor;
     padding:0px;
     width:100%;
     .first-half{
         padding:50px 50px 0px 50px;
     }
     .heading{
        font-family: bahnschrift;
        font-size: 40px;
        font-weight: 800;
        color:black;
        padding:20px;
     }
     .s-text{
        font-family: bahnschrift;
        font-size: 15px;
        font-weight: 400;
        color:black; 
        padding:1s0px;
     }
     .button-section2{
        margin-top:4%;
        .container{
             width:50%;
             margin:auto;
        }
        .know-more{
            border: 1px solid $knowMoreBtn1;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
            font-family: bahnschrift;
            font-size: 15px;
            background-color: $knowMoreBtn1;
            color:rgb(185, 185, 185);
        }
     }
     #illustration-2{
        display: block;
        .container{
            width:100%;
            padding:0;
            margin: auto;
            .illustration-align{
                padding:0;
            }
        }
     }
     #illustration-2-m{
        display: none;
     }
}

// BUSINESS SECTION 3
#crow3{
    padding:50px 20px 50px 20px;
    .row{
        .container{
            width:95%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                background-color: $knowMoreBtn1;
                color:white;
                border-radius: 15px;
                margin:10px;
                .card-body{
                    padding:20px;
                    .card-title{
                        font-family:bahnschrift;
                        font-size: 24px;
                        font-weight: 500;
                        padding-bottom:15px;
                        .glyphicon{
                            display: none;
                        }
                    }
                    .card-text{
                        padding-bottom:50px;
                        font-family: bahnschrift;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
#crow4{
    width:100%;
    padding:0px;
    background-color: $wddBgColor;
    .first-half{
        padding:50px 0px 0px 50px;
    }
    .heading{
        font-family: bahnschrift;
        font-size: 40px;
        font-weight: 800;
        color:white;
        padding:20px;
     }
     .s-text{
        font-family: bahnschrift;
        font-size: 15px;
        font-weight: 400;
        color:white; 
        padding:10px;
     }
     .button-section2{
        margin-top:5%;
        .container{
            width:50%;
            margin:auto;
        }
        .know-more{
            border: 1px solid $knowMoreBtn2;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
            font-family: bahnschrift;
            font-size: 15px;
            background-color: $knowMoreBtn2;
            color:rgb(43, 43, 43);
        }
    }
    #illustration-3{
        display: block;
        .container{
            width:100%;
            margin: auto;
            padding:0;
            .illustration-align{
                padding:0;
            }
        }
    }
    #illustration-3-m{
        display: none;
    }
}
#crow5{
    width:100%;
    padding:0px;
    background-color: $gdBgColor;
    .first-half{
        padding:50px 0px 0px 50px;
    }
    .heading{
        font-family: bahnschrift;
        font-size: 40px;
        font-weight: 800;
        color:white;
        padding:20px;
     }
     .s-text{
        font-family: bahnschrift;
        font-size: 15px;
        font-weight: 400;
        color:white; 
        padding:20px;
     }
     .button-section2{
         margin-top:5%;
        .container{
             width:50%;
             margin:auto;
             margin-bottom:10px;
        }
        .know-more{
            border: 1px solid $KnowMoreBtn3;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
            font-family: bahnschrift;
            font-size: 15px;
            background-color: $KnowMoreBtn3;
            color:rgb(43, 43, 43);
        }
    }
    #illustration-4{
        display: block;
        .container{
            width:100%;
            margin: auto;
            padding:0;
            .illustration-align{
                padding:0;
            }
        }
    }
    #illustration-4-m{
        display: none;
    }
}
#crow6{
    width: 100%;
    padding:50px;
    .container{
        width: 95%;
        padding:0px 100px 20px 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .timeline-dot{
            width:24px;
            height:24px;
            border:1px solid #5353534f;
            background-color: #5353534f;
            border-radius: 50%;
            display: flex;
            align-items: center;
            .timeline-dot2{
                position: relative;
                display: inline-block;
                width:10px;
                height:10px;
                border:1px solid #3f3f3f6e;
                background-color: #3f3f3f6e;
                border-radius: 50%;
                margin: auto;
                top:auto;
            }
        }
        #hr{
            width:48%;
            height:24px;
            margin-top: 10px;
            hr{
                height:1px;
                background-color:#5353534f;
                margin:0;
            }
        }
    }
    .text-cont{
        width: 100%;
        padding:40px 10px 20px 10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .timeline-text{
            margin:0;
            font-family: bahnschrift;
            font-size: 20px;
            color:#5353534f;
        }
    }
    .timeline-dot:hover{
        box-shadow: -1px -1px 10px 4px rgba(0,0,0,0.1);
    }
}
#crow6-mobile{
    display:none;
}
#service-cards-xs,#register-section {
    display: none;
}


//--------MEDIA QUERIES---------
@media screen and (max-width:768px){
    .overlay1{
        display:none;
    }
    //SERVICE TABS MOBILE
    .card-wrapper,.flexbox,.hero-text-wrapper{
        display: none;
    }
    #service-cards-xs{
        width:90%;
        margin:auto;
        padding-top:30px;
        padding-bottom:30px;
        display: block;
        .service-tab-grid{
            margin:10px auto;
            .service-card-content-xs{
                margin:auto;
                border-radius:5px;
                box-shadow: 0px 0px 18px 2px rgb(189, 189, 189);
                padding:20px;
                .service-symbol{
                    padding:10px;
                    text-align: center;
                    i{
                        background-color: $navbarColor;
                        padding:10px 13px;
                        border-radius: 50rem;
                        color:white;
                        font-size:12px;
                    }
                    #code-sym2{
                        padding:10px 9px;
                    }
                    #code-sym3{
                        padding:10px 11px;
                    }
                    #code-sym4{
                        padding:10px 12px;
                    }
                }
                .service-tab-content{
                    font-family:bahnschrift;
                    font-size:12px;
                    padding:0px;
                    text-align: center;
                    margin:auto;
                }
            }
        }
        #tab3, #tab4{
            padding-top:30px;
            padding-bottom: 30px;
        }
    }
    #service-tab-graphics{
        margin:20px auto;
    }
    #grid3{
        display: flex;
        justify-content: center;
        padding:0;
    }
    #register-section{
        margin:20px auto;
        display: block;
        .register-section-content{
            #register-section-text{
                font-size:18px;
                padding-right:0;
                text-align: center;
            }
            .register-btn-wrapper{
                display: block;
                padding: 0;
                text-align: center;
                .register-btn{
                    color: white;
                    font-family:bahnschrift;
                    font-size: 20px;
                    background-color: $registerBtnColor;
                    border:1px solid $registerBtnColor;
                    border-radius: 50rem;
                    padding:10px 20px;
                    margin:10px auto;
                }
            }
        }
    }
    //END SERVICE TABS MOBILE


    //BUSINESS SECTION
    #business-section{
        transform: translateY(-4vh);
    }

    //UNMATCHED SERVICES
    #crow1{
        width:95%;
        margin:auto;
        .text-area{
            padding-top: 0px;
            #heading{
                padding: 10px 5px 10px 5px;
                #bs1a{
                    #text-sec1{
                        padding:10px 20px;
                    }
                }
                #bs1b{
                    #text-sec2{
                        padding:20px;
                    }
                }
            }
        }
    }
    #text-sec1 .ser{
        text-align: center;
        font-size: 25px;
    }
    #text-sec1 .exe{
        text-align: center;
        font-size: 25px;
    }
    #text-sec2 {
        padding-top: 16px;
        text-align:center;
        font-size: 14px;
        width:90%;
        margin: auto;
    }
    #text-sec3, #ntb-r-btn, #bs1-illustration {
        display: none;
    }
    #serv-img{
        display: none;
    }
    //END UNMATCHED SERVICES

    //SOCIAL MEDIA MARKETING
    #crow2{
        border-radius: 20px;
        padding: 30px 15px;
        .row{
            display: flex;
            flex-direction: column-reverse;
            .first-half{
                padding-top: 10px;
            }
            #scl-mkt1{
                font-size: 18px;
                font-weight: bold;
                font-family: bahnschrift;
                text-align: center;
                padding:0;
            }
            #scl-mkt2{
                font-size:14px;
                text-align: center;
                padding:8px;
            }
            .button-section2{
                .container{
                    text-align: center;
                    padding:0;
                }
            }
            #illustration-2{
               display: none;
            }
            #illustration-2-m{
                display: block;
                width: 100%;
                padding-bottom: 20px;
                .container{
                    width:90%;
                    margin:auto;
                }
            }
        }
    }
    //END SOCIAL MEDIA MARKETING

    //STRATEGY , CONTENT ,PLATFORM
    #crow3{
        #card-text{
            display: none;
        }
    }
    #crow3 .row .container {
        width:100%;
        padding:0px;
    }
    #crow3 .row .container .card {
        height: 30px;
        border-radius: 50rem;
        width:98%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin:10px auto;
        .card-body{
            padding:0px;
            width:85%;
            margin:auto;
            .card-title{
                padding:0px;
                display: flex;
                justify-content: space-between;
                span{
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }
                .glyphicon{
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    // END STRATEGY, CONTENT, PLATFORM

    //WEB DEVELOPMENT & DESIGN
    #crow4{
        border-radius: 20px;
        padding: 30px 15px;
        .row{
            display: flex;
            flex-direction: column-reverse;
            .first-half{
                padding-left:0;
                padding-top: 10px;
            }
            #web-dev1{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                padding:0px;
            }
            #web-dev2{
                font-size:14px;
                text-align: center;
                padding:20px 60px;
            }
            .button-section2{
                .container{
                    text-align: center;
                }
            }
        }
        #illustration-3{
            display: none;
        }
        #illustration-3-m{
            display: block;
            .container{
                width:100%;
                padding-bottom:20px;
            }
        }
    }
    //END WEB DEVELOPMENT & DESIGN

    //GRAPHIC DESIGN
    #crow5{
        border-radius: 20px;
        padding: 30px 15px;
        .row{
            display: flex;
            flex-direction: column-reverse;
            .first-half{
                padding-left:0;
                padding-top: 10px;
            }
            #gr-ds1{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                padding:10px;
            }
            #gr-ds2{
                font-size:14px;
                text-align: center;
                padding:10px 60px;
            }
            .button-section2{
                padding-bottom: 20px;
                .container{
                    text-align: center;
                }
            }
        }
        #illustration-4{
            display: none;
        }
        #illustration-4-m{
            display: block;
            .container{
                width:100%;
                padding-bottom:20px;
            }
        }
    }
    //END GRAPHIC DESIGN

    //WHY CHOOSE US
    #crow6{
        display: none;
    }
    #crow6-mobile{
        display: block;
        padding-top:30px;
        padding-bottom: 10px;
        #crow6-mobile-heading{
            font-size:25px;
        }
        #whyChooseUs{
            padding-bottom:40px;
        }
        .indicators{
            display:block;
            height:20px;
            .carousel-indicators{
                li{
                    background-color:$carouselIndicatorColor;
                }
            }
        }
        .item{
            padding-top:30px;
            padding-bottom:40px;   
            width:95%;
            margin:auto;    
        }
        .items{
            padding:20px;
            .card{
                padding:25px;
                border-radius: 10px;
                box-shadow: 0px 0px 16px 4px rgba(82,82,82,1);
                .card-title{
                    text-align: center;
                    font-family: bahnschrift;
                    font-size: 20px;
                    color:$wcuTitleColor;
                    padding-bottom: 10px;
                }
                .card-text{
                    text-align: center;
                }
            }
        }
    }
    //END WHY CHOOSE US
}
@media (min-height:768px) and (max-height:880px){
    #business-section{
        transform: translateY(-14vh);
    }
}
@media (max-height:768px){
    #business-section{
        transform: translateY(-3vh);
    }
}
@media (max-height:640px) and (max-width:384px){
    #business-section{
        transform: translateY(5vh);
    }
}
