body {
  width: 100%;
  background-color: #f2f9f9;
  overflow-x: hidden;
}

.navbar {
  min-height: 10vh;
  background-color: #f2f9f9;
  border: 0;
  margin-bottom: 0;
  padding: 10px 0px;
}

.navbar .navcont {
  width: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 15px;
}

.navbar .navcont .navbar-brand {
  display: block;
  height: 10vh;
  padding: 0;
}

.navbar .navcont .navbar-brand-mobile {
  display: none;
}

.navbar .navcont .flexbox {
  width: 55%;
  z-index: 4;
}

.navbar .navcont .flexbox .sub-nav {
  width: 80%;
  margin: auto;
  margin-right: 0;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.navbar .navcont .flexbox .sub-nav .items {
  border-radius: 15px;
  padding: 3px 22px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 8px #dadada,  -4px -3px 5px #ffffff;
          box-shadow: 2px 2px 8px #dadada,  -4px -3px 5px #ffffff;
}

.navbar .navcont .flexbox .sub-nav .items .item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.navbar .navcont .flexbox .sub-nav .items .item .subnav-link {
  font-family: bahnschrift;
  font-size: 12px;
  font-weight: 600;
  color: #3b474f;
  margin-bottom: 2px;
}

.navbar .navcont .flexbox .sub-nav .items .item .subnav-nav-link {
  font-family: bahnschrift;
  font-size: 10px;
  font-weight: 500;
  color: #3b474f;
}

.navbar .navcont .flexbox .sub-nav .items:hover {
  -webkit-box-shadow: 2px 2px 12px #c4c4c4,  -4px -3px 8px #ffffff;
          box-shadow: 2px 2px 12px #c4c4c4,  -4px -3px 8px #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar .hamburger {
  display: none;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle:hover {
  background-color: transparent;
}

#crow7 {
  background-color: #0b2d35;
  color: white;
}

#crow7 .container {
  width: 90%;
}

#crow7 .footer {
  width: 95%;
  padding: 50px 0px 40px 0px;
}

#crow7 .l1 img {
  width: 100%;
  height: 100%;
  padding: 0px;
}

#crow7 .l2 {
  padding-bottom: 70px;
}

#crow7 .l2 .l2-text {
  padding: 20px 0px;
  font-size: 15px;
}

#crow7 .l3 .l3-text {
  padding-left: 0;
  padding: 20px 0px 20px -15px;
  font-family: bahnschrift;
  font-size: 20px;
}

#crow7 .l4 .l4-text {
  padding-left: 0;
  padding-top: 20px;
  font-size: 15px;
}

#crow7 #footer-middle .container {
  padding-top: 80px;
}

#crow7 #footer-middle .container .footer-middle-row-1 #heading-wrapper #heading {
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  word-spacing: 1.5px;
}

#crow7 #footer-middle .container .footer-middle-row-2 .r4 {
  padding: 30px 20px;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form {
  width: 90%;
  padding: 100px 0px 50px 0px;
  margin: 0;
  max-width: 300px;
  display: inline-block;
  margin-top: 10%;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group input {
  border-radius: 50rem;
  border: 1px solid #0f343a;
  -webkit-box-shadow: inset 2px 2px 5px #000, inset -4px -4px 5px #225d50de;
          box-shadow: inset 2px 2px 5px #000, inset -4px -4px 5px #225d50de;
  background-color: #0f343a;
  color: #23a0b6;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group #submit-glyph {
  border-radius: 50rem;
  padding: 7px 10px 0px 10px;
  margin-left: 8px;
  background-color: #0f343a;
  -webkit-box-shadow: 2px 2px 5px #000, -3px -3px 5px #225d50de;
          box-shadow: 2px 2px 5px #000, -3px -3px 5px #225d50de;
  color: #23a0b6;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group ::-webkit-input-placeholder {
  color: #23a0b6;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group :-ms-input-placeholder {
  color: #23a0b6;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group ::-ms-input-placeholder {
  color: #23a0b6;
}

#crow7 #footer-middle .container .footer-middle-row-3 .footer-form .form-group ::placeholder {
  color: #23a0b6;
}

#crow7 .footer-right-wrapper .footer-right {
  padding-top: 80px;
}

#crow7 .footer-right-wrapper .footer-right .footer-right-row-1 #heading-wrapper #heading {
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  word-spacing: 1.5px;
}

#crow7 .footer-right-wrapper .footer-right .footer-right-row-2 {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#crow7 .footer-btn {
  padding: 10px 20px;
  background-color: #0e363d;
  border-radius: 50rem;
  -webkit-box-shadow: 2px 2px 5px #000, -4px -4px 5px #225d50de;
          box-shadow: 2px 2px 5px #000, -4px -4px 5px #225d50de;
  color: #b4dbd0;
}

.footer-ending-mobile {
  display: none;
}

.footer-link {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 50rem;
  background-color: #0e363d;
  -webkit-box-shadow: 2px 2px 5px #000, -3px -3px 5px #225d50de;
          box-shadow: 2px 2px 5px #000, -3px -3px 5px #225d50de;
  color: #13a8c2;
}

.footer-link:visited {
  color: #13a8c2;
}

.footer-link:hover {
  color: #49d9f3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer-icon-header {
  font-family: bahnschrift;
  font-size: 22px;
  margin: 10px;
}

.footer-ending {
  padding: 50px;
}

.f-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.r1, .r2, .r3 {
  padding-left: 0;
}

.r11, .r22, .r33, .r44 {
  padding: 0;
  width: 25px;
}

.footer-form-mobile {
  display: none;
}

.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .navbar {
    border: 1px solid teal;
    background-color: #02323de5;
  }
  .navbar .navcont {
    width: 100%;
    border-bottom: none;
    padding: 10px 20px;
  }
  .navbar .navcont .navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .navbar .navcont .navbar-header .navbar-brand {
    display: none;
  }
  .navbar .navcont .navbar-header .navbar-brand-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .navbar .navcont .navbar-header .hamburger {
    display: block;
  }
  .navbar .navcont .navbar-header .hamburger .ham {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
  }
  .navbar .navcont .flexbox {
    display: none;
  }
  .navbar-inverse {
    background-color: #3b474f;
    color: black;
  }
  .navbar .color-layer {
    background-color: transparent;
  }
  .navbar-toggle {
    border: none;
  }
  .navbar-toggle:hover {
    background-color: transparent;
  }
  #slider-content {
    padding: 20px;
  }
  #slider {
    background-color: #60efdb;
    border-radius: 24px;
    border-top-left-radius: 0px;
    height: 100vh;
  }
  .slider-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .slider-header .glyphicon {
    color: #1a1a1a;
  }
  #contents h4 {
    color: white;
  }
  #contents .subnav-nav-link {
    color: #fdfafaa9;
  }
  #slider-main #slider-head #slider #slider-content #contents li {
    padding-top: 25px;
  }
  .slider-main {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: absolute;
    z-index: 9999;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider-main #contents {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #crow7 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0b2d35;
    color: white;
  }
  #crow7 .container {
    width: 90%;
  }
  #crow7 .footer {
    width: 95%;
    padding: 50px 0px 20px 0px;
  }
  #crow7 .l1 {
    padding: 0px;
  }
  #crow7 .l1 img {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  #crow7 .l2 {
    padding-bottom: 20px;
  }
  #crow7 .l2 .l2-text {
    padding: 0;
    padding-top: 10px;
    font-size: 12px;
    font-weight: lighter;
  }
  #crow7 .l3 .l3-text {
    padding-left: 0;
    padding: 20px 0px 20px -15px;
    font-family: bahnschrift;
    font-size: 15px;
  }
  #crow7 .l4 .l4-text {
    padding-left: 0;
    padding-top: 10px;
    font-size: 12px;
    font-weight: lighter;
  }
  #crow7 #footer-middle {
    display: none;
  }
  #crow7 .footer-right-wrapper {
    padding-right: 0px;
  }
  #crow7 .footer-right {
    padding: 50px 0px 20px 0px;
  }
  #crow7 .footer-right .footer-btn {
    font-size: 9px;
  }
  #crow7 .footer-right .row {
    padding: 10px;
    padding-right: 0px;
  }
  #crow7 .footer-right .row #heading-wrapper {
    padding: 0;
  }
  #crow7 .footer-right .row #heading {
    font-family: bahnschrift;
    font-size: 14px;
    padding: 3px;
    border-bottom: 1px solid white;
  }
  #crow7 .footer-right .row .glyphicon {
    font-size: 10px;
    padding-right: 4px;
  }
  #crow7 .footer-right .r1, #crow7 .footer-right .r2, #crow7 .footer-right .r3, #crow7 .footer-right .r4 {
    font-size: 10px;
    font-weight: lighter;
  }
  #crow7 .footer-form-mobile {
    width: 90%;
    padding: 10px 0px;
    margin: 0;
    max-width: 300px;
    display: inline-block;
  }
  #crow7 .footer-form-mobile .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #crow7 .footer-form-mobile .form-group #submit-glyph {
    padding: 2px 10px 2px 10px;
  }
  #crow7 .footer-form-mobile .form-group .form-control {
    height: 24px;
  }
  .footer-ending {
    display: none;
  }
  .footer-ending-mobile {
    padding: 20px;
    display: block;
  }
  .footer-ending-mobile .footer-icon-header {
    font-size: 15px;
  }
  .footer-ending-mobile .footer-links {
    padding: 0px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .slider-main {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */