@font-face {
    font-family: bahnschrift;
    src: url(../webfonts/BAHNSCHRIFT.woff);
}

//COLORS
$secondaryColor:rgb(75, 75, 75);
$ternaryColor:rgb(100, 100, 100);
$uniqueTextColor: teal;

*{
    font-family: bahnschrift;
}
body{
    width:100%;
    height:100vh;
    margin:0;
}
.navbar .navcont .flexbox{
    padding-top: 10px;
}
#container-wrapper{
    width: 85%;
    margin: auto;
    #section1{
        padding-top: 20px;
        .sec-1{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section2{
        display: flex;
        align-items: center;
        #sec-2-right{
            padding-top: 20px;
            
            img{
                height: 420px;
                width: 750px;
            }
        }
        #sec-2-left{
            #sec-2-left-text{
                font-size: 20px;
                font-weight: 100;
            }
        }
    }
    #section3{
        .sec-3{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section4{
        padding-top: 50px;
        .sec-4{
            #sec-4-text{
                font-size: 20px;
                font-weight: 100;
            }
            .button{
                padding-top: 50px;
                .sec-4-btn{
                    background: $uniqueTextColor;
                    color:white;
                    border-radius: 50rem;
                    margin:10px;
                    font-size: 22px;
                }
            }
        }
    }
    #section5{
        .sec-5{
            #text{
                font-size:36px;
                font-weight: normal;
            }
        }
    }
    #section6{
        padding-bottom: 80px;
        .sec-6-content{
            #sec-6-left{
                #sec-6-left-heading{
                    padding-top: 45px;
                    font-size: 22px;
                    font-weight: bold;
                }
                #sec-6-left-text{
                    padding-top: 5px;
                    font-size: 19px;
                    font-weight: 100;
                }
            }
            #sec-6-right{
                img{
                    padding-left: 50px;
                }
            }
            .button{
                padding-top: 80px;
                .sec-6-btn{
                    background: $uniqueTextColor;
                    color:white;
                    border-radius: 50rem;
                    margin:10px;
                    font-size: 22px;
                }
            }
        }
    }
    #section3,#section5{
        padding-top:80px;
    }
}


@media screen and (max-width:768px){
    .slider-header{
        padding-bottom: 20px;
    }
    #container-wrapper{
        #section1{
            padding-right: 0px;
            padding-left: 0px;
            .sec-1{
                #text{
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section2{
            flex-wrap: wrap;
            #sec-2-right{
                padding:0;
                img{
                    width:350px;
                    height:250px;
                }
            }
            #sec-2-left{
                #sec-2-left-text{
                    font-size: 17px;
                    text-align: center;
                    padding:20px;
                }
            }
        }
        #section3{
            padding-top:50px;
            .sec-3{
                #text{
                    font-size:30px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section4{
            padding-top: 5px;
            .sec-4{
                #sec-4-text{
                    font-size: 17px;
                    text-align: center;
                    padding:15px;
                }
                .button{
                    .sec-4-btn{
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
        #section5{
            padding-top:50px;
            .sec-5{
                #text{
                    font-size:30px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        #section6{
            .sec-6-content{
                #sec-6-left{
                    #sec-6-left-heading{
                        font-size:22px;
                        font-weight: 600;
                    }
                    #sec-6-left-text{
                        font-size: 18px;
                        text-align: center;
                        
                    }
                }
                #sec-6-right{
                    display: none;
                }
                .button{
                    .sec-6-btn{
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}