@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
body {
  background-color: #1c1c1c;
  overflow-x: hidden;
}

* {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  min-height: 10vh;
  background-color: #1c1c1c;
  padding: 10px 0px;
  font-weight: normal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px #000000,  0px -10px 15px #242424, 0px -14px 15px #3a3a3a, 0px -18px 15px #3d3d3d;
          box-shadow: 0px 0px 15px #000000,  0px -10px 15px #242424, 0px -14px 15px #3a3a3a, 0px -18px 15px #3d3d3d;
}

.navbar .navcont {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
}

.navbar .navcont .navbar-brand-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.navbar .navcont .flexbox {
  width: 70%;
  z-index: 4;
}

.navbar .navcont .flexbox .sub-nav {
  width: 80%;
  margin: auto;
  margin-right: 0;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.navbar .navcont .flexbox .sub-nav .item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.navbar .navcont .flexbox .sub-nav .item .subnav-link {
  font-size: 14px;
  font-weight: 600;
  color: grey;
  margin-bottom: 3px;
}

.navbar .navcont .flexbox .sub-nav .item .subnav-nav-link {
  font-size: 12px;
  font-weight: 500;
  color: grey;
}

.navbar .navcont .flexbox .sub-nav .item:hover .subnav-link, .navbar .navcont .flexbox .sub-nav .item:hover .subnav-nav-link {
  color: teal;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.navbar .hamburger {
  display: none;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle:hover {
  background-color: transparent;
}

.slider-main {
  display: none;
}

.headline {
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #035e5e;
}

.headline-underline {
  width: 380px;
  height: 2px;
  background-color: #035e5e;
  border-radius: 5px;
  margin: auto;
}

.cards-wrapper {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-wrapper .cards-content {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-wrapper .cards-content .cards {
  background-color: #1c1c1c;
  -webkit-box-shadow: 13px 13px 15px #000000,  -13px -13px 15px #242424;
          box-shadow: 13px 13px 15px #000000,  -13px -13px 15px #242424;
  border-radius: 15px;
  border-bottom: 1.5px solid teal;
  padding: 30px 0px;
  margin: auto;
}

.cards-wrapper .cards-content .cards .team-member {
  width: 150px;
  height: 150px;
}

.cards-wrapper .cards-content .cards:hover {
  border-bottom: 1.5px solid orangered;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.card-subsection .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-subsection .card-footer .card-footer-content-wrapper {
  padding: 0;
}

.card-subsection .card-footer .card-footer-content-wrapper .card-footer-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.card-subsection .card-footer .card-footer-content-wrapper .card-footer-content-inner .card-footer-item {
  list-style-type: none;
}

.card-subsection .card-footer .card-footer-content-wrapper .card-footer-content-inner .card-footer-item .card-footer-link {
  text-decoration: none;
}

.member-name {
  font-weight: bold;
}

.member-role {
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .navbar {
    min-height: 10vh;
    border: 1px solid #1c1c1c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1c1c1c;
  }
  .navbar .navcont {
    width: 100%;
    border-bottom: none;
    padding: 20px;
  }
  .navbar .navcont .navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .navbar .navcont .navbar-header .hamburger {
    display: block;
  }
  .navbar .navcont .navbar-header .hamburger .ham {
    background-color: grey;
    width: 25px;
    height: 3px;
    margin: 5px;
  }
  .navbar .navcont .flexbox {
    display: none;
  }
  .navbar-toggle {
    border: none;
  }
  .navbar-toggle:hover {
    background-color: transparent;
  }
  #slider-content {
    padding: 20px;
  }
  #slider {
    background-color: teal;
    border-radius: 24px;
    border-top-left-radius: 0px;
    height: 100vh;
  }
  .slider-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 20px;
  }
  .slider-header .glyphicon {
    color: white;
  }
  #contents {
    padding: 20px 0;
  }
  #contents h4 {
    color: white;
  }
  #contents .subnav-nav-link {
    color: rgba(253, 250, 250, 0.664);
  }
  #slider-main #slider-head #slider #slider-content #contents li {
    padding-top: 25px;
  }
  .slider-main {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: absolute;
    z-index: 9999;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-main #contents {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headline {
    font-size: 28px;
  }
  .headline-underline {
    width: 150px;
    height: 1px;
  }
}

@media all and (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  body {
    background-color: #ebebeb;
  }
  * {
    color: black;
  }
  .navbar {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0px 0px 15px #777777,  0px -10px 15px #919191, 0px -14px 15px #b6b6b6, 0px -18px 15px #d8d8d8;
            box-shadow: 0px 0px 15px #777777,  0px -10px 15px #919191, 0px -14px 15px #b6b6b6, 0px -18px 15px #d8d8d8;
  }
  .navbar .navbar-brand {
    padding: 0;
  }
  .navbar .navbar-brand img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .navbar .navbar-brand-mobile img {
    display: none;
  }
  .navbar .flexbox .sub-nav .item .subnav-link {
    color: #4b4b4b;
  }
  .navbar .flexbox .sub-nav .item .subnav-nav-link {
    color: #4b4b4b;
  }
  .navbar .flexbox .sub-nav .item:hover .subnav-link, .navbar .flexbox .sub-nav .item:hover .subnav-nav-link {
    color: #02adad;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  #slider {
    background-color: #60efdb;
  }
  .cards-wrapper .cards-content .cards {
    background-color: #ebebeb;
    -webkit-box-shadow: 10px 10px 10px #cccccc,  -10px -10px 10px #fefefe;
            box-shadow: 10px 10px 10px #cccccc,  -10px -10px 10px #fefefe;
    border-bottom: 2px solid #02adad;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  }
  .cards-wrapper .cards-content .cards:hover {
    -webkit-box-shadow: 12px 12px 10px #a0a0a0,  -12px -12px 10px #fefefe;
            box-shadow: 12px 12px 10px #a0a0a0,  -12px -12px 10px #fefefe;
  }
  .member-role {
    color: #4b4b4b;
  }
  .headline {
    color: #02adad;
  }
  .headline-underline {
    background-color: #02adad;
  }
}

/*@media all and (prefers-color-scheme: dark){
    .navbar{
        .navbar-brand{
            padding:0;
            img{
                display: none;
                padding:0;
            }
        }
        .navbar-brand-mobile{
            img{
                display: flex;
                padding:0;
            }
        }
    }
    .slider-header{
        .glyphicon{
            color:white;

        }
    }
    .member-role{
        color:grey;
    }
<<<<<<< HEAD
    

}
=======
*/
/*# sourceMappingURL=team.css.map */