@font-face {
    font-family: bahnschrift;
    src: url(../webfonts/BAHNSCHRIFT.woff);
}

//COLORS
$secondaryColor:rgb(75, 75, 75);
$ternaryColor:rgb(100, 100, 100);
$uniqueTextColor: teal;

//MAIN CSS
*{
    font-family: bahnschrift;
}
body{
    width:100%;
    height:100vh;
    margin:0;
}
.carousel{
    margin-bottom:50px;
    border-radius: 20px;
    .carousel-inner{
        border-radius: 20px;
    }
}

#content-wrapper{
    width:90%;
    margin:auto;
    .sec-1{
        #lnum{
            font-size:30px;
            font-weight: bold;
            color:$uniqueTextColor;
        }
        #text{
            font-size:32px;
            font-weight: normal;
        }
    }
    .sec-2{
        padding-left:80px;
        margin:auto;
        #sub-text{
            font-size:24px;
        }
    }
    .sec-1{
        display: flex;
    }
    #section1,#section2,#section5{
        padding:40px;
    }
    .ulist{
        padding:30px;
        .item{
            padding-top:20px;
            padding-bottom:20px;
            #list-item{
                font-size:22px;
                color:$secondaryColor;
            }
            #list-sub-item{
                font-size:15px;
                color:$ternaryColor;
            }
        }
    }
    #section3{
        display: flex;
        align-items: center;
        #sec-3-right{
            #sec-3-right-text{
                font-size: 18px;
            }
        }
    }
    #section4{
        padding:20px;
        display: flex;
        align-items: center;
        #sec-4-left{
            #sub-section1{
                #sec-4-left-text1{
                    font-size: 32px;
                    #sec-4-unique-text{
                        color:$uniqueTextColor;
                    }
                }
            }
            #sub-section2{
                margin-top:40px;
                .sec-4-btn{
                    background: $uniqueTextColor;
                    color:white;
                    border-radius: 50rem;
                    padding:5px 10px;
                    margin:10px;
                    transition: transform 0.4s ease-in-out;
                }
                .sec-4-btn:hover{
                    transform:translateX(10px);
                }
            }
        }
    }
}


/*---------Media Queries---------*/
@media screen and (max-width:768px){
    #content-wrapper{
        #section1{
            padding-right: 0px;
            padding-left: 0px;
            #text,#lnum{
                font-size: 20px;
                font-weight: bold;
            }
            .sec-2{
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 30px;
                #sub-text{
                    width: 100%;
                    font-size: 15.5px;
                    text-align: center;
                }
            }
        }    
        #section2{
            padding-right: 0px;
            padding-left: 0px;
            #lnum,#text{
                font-size: 20px;
                font-weight: bold;
            }
        }
        
        #section3{
            padding-right: 0px;
            padding-left: 0px;
            #sec-3-left{
                display: none;
            }
            #sec-3-right{
                float: left;;
                #sec-3-right-text{
                    text-align: center;
                    font-size: 15px;
                }
            }
        }
        #section4{
            padding-top: 60px;
            padding-right: 0px;
            padding-left: 0px;
            #sec-4-left{
                text-align: center;
                #sub-section1{
                    #sec-4-left-text1{
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
                #sub-section2{
                    .sec-4-btn{
                        font-size: 18px;
                    }
                }
            }
            #right{
                display: none;
            }
        }
        #section5{
            height: 200px;
            padding-right: 0px;
            padding-left: 0px;
            #text,#lnum{
                padding-left: 0px;
                padding-right: 0px;
                font-size: 20px;
                font-weight: bold;
            }
            .sec-2{
                width: 100%;
                padding-left: 0px;
                padding-right: 0;
                .item{
                    padding-left: 0;
                    padding-right: 0;
                    #list-item{
                        width: 100%;
                        font-size: 16.5px;
                    }
                    #list-sub-item{
                        font-size: 14px;
                    }
                }              
            }          
        }
    }
}